body {
    background: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
}

.jumbotron {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  background-color: #e9ecef;
  border-radius: .3rem;
  color: #353b41;
}

/* para redimensionar grafica de chartjs */
.chart-container {
  position: relative;
  margin: auto;
  height: 20vh;
  width: 35vw;
}