body {
    background: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
}

.pintar_negro_azul {
    background: linear-gradient(to right, #212529, #0d6efd);
}

/* .imgLogo{
    margin-left: 120px;
    margin-top: 30px;
    border-radius: 15;
    border: 12 solid black;
} */