.jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    color: #353b41;
}


/* para redimensionar grafica de chartjs */

.chart-container-barra {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    width: auto;
}

.chart-container-dona {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    width: auto;
}