<?php
/*
INICIO COMENTARIO
1. Hacer una copia de este archivo
2. Renombrar esa copia ("variables-entorno.php copy.example") a "variables-entorno.php"
3. Modificar el valor al que corresponde (ejemplo: '$servername = "localhost";')
4. Para usar esos valores (ejemplo: los valores para la conexion a la bbdd), realizar un include de este archivo al principio del archivo que desea usarlo (ejemplo: 
'<?php
include "config/variables-entorno.php";
try...
?>')
5. Nota: para evitar conflictos con PHP, al terminar de hacer las modificaciones pertinentes, borrar todo este comentario
FIN COMENTARIO
*/

$servername = "servername";
$username = "username";
$password = "password";
$db = "dbname";
?>